html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

div {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background-color: #4A90E2;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 1px solid #3A78C2;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);
    box-shadow: 
        3px 3px 10px rgba(0, 0, 0, 0.3),
        inset 2px 2px 5px rgba(255, 255, 255, 0.3),
        inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}
